@using MyFirstBlazorApp.Client.Components

@page "/counter"
<h1>Counter</h1>
<p>The counter value is @currentCount</p>
<button class="btn btn-primary" @onclick=IncrementCounter>Increment counter</button>

<MySecondComponent CurrentCounterValue=@currentCount />


@code {

    [Parameter]
    public EventCallback<int> OnMultipleOfThree { get; set; }

    private int currentCount = 42;

    private async Task IncrementCounter()
    {
        currentCount++;

        if (currentCount % 3 == 0)
            await OnMultipleOfThree.InvokeAsync(currentCount);
    }
}