@using MyFirstBlazorApp.Client.Components

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<MyFirstComponent />

Last multiple of three = @LastMultipleOfThree

<Counter OnMultipleOfThree=@UpdateLastMultipleOfThreeValue />

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    int LastMultipleOfThree = 0;
    private void UpdateLastMultipleOfThreeValue(int value)
    {
        LastMultipleOfThree = value;
    }
}
